.figmadesign-screen-shot20210810at71653p-mpng-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.figmadesign-screen-shot20210810at71653p-mpng-figmadesign-screen-shot20210810at71653p-mpng {
  width: 923px;
  height: 483px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.figmadesign-screen-shot20210810at71653p-mpng-root {
  top: 0px;
  left: 0px;
  width: 950px;
  height: 506px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.figmadesign-screen-shot20210810at71653p-mpng-image {
  top: 0px;
  left: 0px;
  width: 950px;
  height: 506px;
  position: absolute;
}
.figmadesign-screen-shot20210810at71653p-mpng-groups {
  top: 39px;
  left: 0px;
  width: 950px;
  height: 467px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.figmadesign-screen-shot20210810at71653p-mpng-background {
  top: -13px;
  left: 0px;
  width: 976px;
  height: 498px;
  position: absolute;
}
.figmadesign-screen-shot20210810at71653p-mpng-groups1 {
  top: 3px;
  left: 464px;
  width: 486px;
  height: 410px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.figmadesign-screen-shot20210810at71653p-mpng-image1 {
  top: 2px;
  left: 3px;
  width: 501px;
  height: 417px;
  position: absolute;
}
.figmadesign-screen-shot20210810at71653p-mpng-button {
  top: 302px;
  left: 99px;
  width: 95px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}
.figmadesign-screen-shot20210810at71653p-mpng-navlink {
  display: contents;
}
.figmadesign-screen-shot20210810at71653p-mpng-background1 {
  top: 4px;
  left: 3px;
  width: 89px;
  height: 28px;
  position: absolute;
  border-color: rgba(241, 129, 143, 1);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
}
.figmadesign-screen-shot20210810at71653p-mpng-text {
  top: 12px;
  left: 19px;
  color: rgba(247, 199, 205, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 8px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.figmadesign-screen-shot20210810at71653p-mpng-text02 {
  top: 227px;
  left: 101px;
  color: rgba(119, 119, 119, 1);
  width: 322px;
  height: auto;
  position: absolute;
  font-size: 9.199999809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.figmadesign-screen-shot20210810at71653p-mpng-text08 {
  top: 117px;
  left: 103px;
  color: rgba(18, 18, 18, 1);
  width: 345px;
  height: auto;
  position: absolute;
  font-size: 33px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.figmadesign-screen-shot20210810at71653p-mpng-text12 {
  top: 82px;
  left: 102px;
  color: rgba(238, 89, 103, 1);
  width: 145px;
  height: auto;
  position: absolute;
  font-size: 15.5px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
