.page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e9e3e3;
}

.page-figmadesign-screenshot14png {
  width: 507px;
  height: 407px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}

.page-root {
  top: 0px;
  left: 0px;
  width: 512px;
  height: 407px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0);
}

.page-image {
  top: 0px;
  left: 0px;
  width: 512px;
  height: 407px;
  position: absolute;
  border-color: #f5f1f1;
  border-style: hidden;
  border-width: 1px;
}

.page-background {
  top: 12px;
  left: 12px;
  width: 486px;
  height: 390px;
  position: absolute;
}

.page-groups {
  top: 75px;
  left: 16px;
  width: 481px;
  height: 326px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
}

.page-text {
  top: 176px;
  left: 60px;
  color: rgba(173, 176, 185, 1);
  width: 340px;
  height: auto;
  position: absolute;
  font-size: 13.199999809265137px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}


input:focus~.floating-label1,
input:not(:focus):valid~.floating-label1 {
  top: 92px;
  bottom: 10px;
  left: 258px;
  font-size: 11px;
  opacity: .5;
}

input:focus ~ .required1,
  input:not(:focus):valid~ .required1{
    display: none;
  }

  .required1 {
    top: 106px;
    left: 323px;
    color: black;
    position: absolute; 
    opacity: .5;
    transition: 0.2s ease all;
  }
  

.page-image1 {
  font-size: 14px;
  width: 85%;
  height: 35px;}

.floating-label1 {

  top: 106px;
  left: 255px;
  color: black;
  width: 40%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  outline: none;
  opacity: .5;
  pointer-events: none;
  transition: 0.2s ease all;
}



input:focus~.floating-label2,
input:not(:focus):valid~.floating-label2 {
  top: 92px;
  bottom: 10px;
  left: 37px;
  font-size: 11px;
  opacity: .5;
}

input:focus ~ .required2,
  input:not(:focus):valid~ .required2{
    display: none;
  }

  .required2 {
    top: 106px;
    left: 102px;
    color: black;
    position: absolute; 
    opacity: .5;
    transition: 0.2s ease all;
  }
  

.page-image2 {
  
  font-size: 14px;
  width: 85%;
  height: 35px;}

.floating-label2 {
  
  top: 106px;
  left: 34px;
  color: black;
  width: 40%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  outline: none;
  opacity: .5;
  pointer-events: none;
  transition: 0.2s ease all;
}


input:focus~.floating-label3,
input:not(:focus):valid~.floating-label3 {
  top: 20px;
  bottom: 10px;
  left: 36px;
  font-size: 11px;
  opacity: .5;
}

  input:focus ~ .required3,
  input:not(:focus):valid~ .required3{
    display: none;
  }

  .required3 {
    top: 34px;
    left: 106px;
    color: black;
    position: absolute; 
    opacity: .5;
    transition: 0.2s ease all;
  }
  

.page-image3 {
  font-size: 14px;
  width: 85%;
  height: 35px;
}

.floating-label3 {
  
  top: 34px;
  left: 33px;
  color: black;
  width: 85%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  pointer-events: none;
  opacity: .5;
  transition: 0.2s ease all;

}



.page-image1 {
  top: 106px;
  left: 255px;
  color: black;
  width: 40%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  outline: none;
  opacity: .8;
}

.page-image2 {

  top: 106px;
  left: 34px;
  color: black;
  width: 40%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  outline: none;
  opacity: .8;
}

.page-image3 {
  top: 34px;
  left: 33px;
  color: black;
  width: 85%;
  height: auto;
  position: absolute;
  font-size: 14px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  background-color: transparent;
  border: 0px solid;
  outline: none;
  opacity: .8;
}

.page-image11 {
  top: 129px;
  left: 252px;
  width: 194px;
  height: 7px;
  position: absolute;
}

.page-image22 {
  top: 129px;
  left: 31px;
  width: 194px;
  height: 7px;
  position: absolute;
}

.page-image33 {
  top: 58px;
  left: 137px;
  width: 213px;
  height: 7px;
  position: absolute;
}

.page-checkbox {
  top: 178px;
  flex: 2;
  left: 35px;
  color: var(--dl-color-theme-primary1);
  margin: auto;
  position: absolute;
  align-self: stretch;
  accent-color: red;
}

.page-button {
  top: 239px;
  left: 0px;
  color: #f9f7f7;
  right: 0px;
  width: 90%;
  height: var(--dl-size-size-small);
  margin: auto;
  position: absolute;
  border-style: hidden;
  border-radius: var(--dl-radius-radius-cardradius);
  background-color: #ed4141;
}

.page-text10 {
  top: 51px;
  left: 49px;
  color: rgb(8, 8, 9);
  width: 103px;
  height: auto;
  position: absolute;
  font-size: 19.5px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  font-weight: bold;
}